*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #54e6af;
  --background-color: #121725;
  --white: #ffffff;
  --paragraph-color: #c2cbe5;
  --button-background: #2c344b;
  --logo-color: #5a668a;
  --primary-hover: #b3ffe2;
}

body {
  background: var(--background-color);
  font-family: "Chivo", sans-serif;
}

main {
  position: relative;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1.625rem;
  line-height: 2.375rem;
  font-weight: 300;
}

p {
  color: var(--paragraph-color);
  margin-top: 1rem;
  line-height: 1.625rem;
}

#main-bg-img {
  background-image: url("assets/mobile/image-host.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}

#main-logo {
  margin-top: 3.875rem;
}

#main-content {
  margin: 3.5rem 6.4% 0 6.4%;
  display: flex;
  flex-direction: column;
}

h1 #text-highlight {
  color: var(--white);
}

#partner-logos {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#spotify,
#apple-podcasts,
#google-podcasts,
#pocket-casts {
  filter: brightness(0) saturate(100%) invert(40%) sepia(11%) saturate(1238%)
    hue-rotate(187deg) brightness(94%) contrast(91%);
}

#spotify {
  width: 56px;
}

#apple-podcasts {
  width: 45px;
}

#google-podcasts {
  width: 73px;
}

#pocket-casts {
  width: 77px;
}

#request-form {
  order: 1;
}

#email-input,
#request-button {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.875rem;
  font-weight: bold;
}

#email-input {
  background: var(--button-background);
  border: 1px solid var(--button-background);
  margin-bottom: 1rem;
  color: var(--white);
}

#email-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#request-button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--background-color);
  transition: all 200ms ease-in-out;
}

#request-button:hover {
  background: var(--primary-hover);
  border: 1px solid var(--primary-hover);
}

#error-message {
  color: red;
  text-align: left;
  padding-left: 1.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

#bg-pattern {
  display: none;
}

@media (min-width: 650px) {
  main {
    text-align: left;
    height: 85vh;
  }

  h1 {
    font-size: 2.75rem;
    line-height: 3rem;
  }

  p {
    margin-top: 2rem;
    margin-right: 30%;
    line-height: 1.75rem;
    font-size: 1.125rem;
  }

  #main-bg-img {
    background-image: url("assets/tablet/image-host.jpg");
    opacity: 1;
    width: 64vw;
    min-height: 85vh;
    right: 0;
  }

  #main-logo {
    margin-top: 3.125rem;
    left: 5%;
    position: absolute;
  }

  #main-content {
    margin: 0 0 0 5%;
    background: var(--background-color);
    width: 84%;
    padding-top: 4rem;
    position: absolute;
    bottom: 0;
  }

  #partner-logos {
    margin: 2rem 16% 0 0;
  }

  #spotify {
    width: 96px;
  }

  #apple-podcasts {
    width: 78px;
  }

  #google-podcasts {
    width: 125px;
  }

  #pocket-casts {
    width: 129px;
  }

  #request-form {
    order: 0;
  }

  #email-input {
    margin-bottom: 0;
    padding: 0.875rem 2rem;
    margin-top: 2.5rem;
    width: 67%;
  }

  #request-button {
    padding: 0.5rem 1.75rem;
    width: 26%;
    margin-left: -27.5%;
  }

  #error-message {
    height: 1rem;
  }

  #bg-pattern {
    display: inline;
    position: absolute;
    bottom: -35px;
    left: 25px;
  }
}

@media (min-width: 1300px) {
  main {
    height: 70vh;
    margin-top: 15vh;
  }

  h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }

  p {
    margin-top: 1.5rem;
    margin-right: 38%;
  }

  #main-bg-img {
    background-image: url("assets/desktop/image-host.jpg");
    width: 62vw;
    min-height: 70vh;
  }

  #main-logo {
    margin-top: -27px;
    left: 11.5%;
    position: absolute;
  }

  #main-content {
    margin: 0 0 0 11.5%;
    background: var(--background-color);
    width: 50vw;
    padding-top: 5rem;
  }

  #partner-logos {
    margin: 4rem 26% 0 0;
  }

  #bg-pattern {
    bottom: unset;
    right: -1px;
    left: unset;
    top: 79.5vh;
  }
}
